ORANGE-TECH-MODULO-01/01_AMBIENTE_DESENVOLVIMENTO_JAVA/MeuPrimeiroProjeto/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse01/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse02/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/02-TIPOS-E-VARIAVEIS/TiposVariaveis/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/03-OPERADORES/Operadores/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/04-METODOS/Metodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/04-METODOS/Sistema-Smart-TV/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/08-TERMINAL-E-ARGUMENTOS/MinhaClasse/.vscode/settings.json
ORANGE-TECH-MODULO-01/01-AMBIENTE-DESENVOLVIMENTO-JAVA/MeuPrimeiroProjeto/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse01/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse02/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/02-TIPOS-E-VARIAVEIS/TiposVariaveis/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/03-OPERADORES/Operadores/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/04-METODOS/Metodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/04-METODOS/Sistema-Smart-TV/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/07-JAVA-DOC/JavaDoc/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/08-TERMINAL-E-ARGUMENTOS/MinhaClasse/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-LOGICA-CONDICIONAL-CONTROLE-FLUXO/01-OPERADORES-RELACIONAIS/OperadoresRelacionais/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-LOGICA-CONDICIONAL-CONTROLE-FLUXO/02-OPERADORES-LOGICOS/OperadoresLogicos/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-LOGICA-CONDICIONAL-CONTROLE-FLUXO/03-CONTROLE-DE-FLUXO/ControleDeFluxo/.vscode/settings.json
ORANGE-TECH-MODULO-01/04-ESTRUTURAS-REPETICAO-E-ARRAYS-JAVA/01-ESTRUTURA-REPETICAO/EstruturasRepeticao/.vscode/settings.json
ORANGE-TECH-MODULO-01/04-ESTRUTURAS-REPETICAO-E-ARRAYS-JAVA/02-ARRAYS/Arrays/.vscode/settings.json
ORANGE-TECH-MODULO-01/05-ENTENDENDO-METODOS-JAVA/01-CRIACAO/ExerciciosCriacaoMetodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/05-ENTENDENDO-METODOS-JAVA/02-SOBRECARGA/ExercicioSobrecarga/.vscode/settings.json
