ORANGE-TECH-MODULO-01/01_AMBIENTE_DESENVOLVIMENTO_JAVA/MeuPrimeiroProjeto/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse01/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse02/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/02-TIPOS-E-VARIAVEIS/TiposVariaveis/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/03-OPERADORES/Operadores/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/04-METODOS/Metodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/04-METODOS/Sistema-Smart-TV/.vscode/settings.json
ORANGE-TECH-MODULO-01/02_APRENDENDO_SINTAXE_JAVA/08-TERMINAL-E-ARGUMENTOS/MinhaClasse/.vscode/settings.json
ORANGE-TECH-MODULO-01/01-AMBIENTE-DESENVOLVIMENTO-JAVA/MeuPrimeiroProjeto/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse01/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse02/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/02-TIPOS-E-VARIAVEIS/TiposVariaveis/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/03-OPERADORES/Operadores/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/04-METODOS/Metodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/04-METODOS/Sistema-Smart-TV/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/07-JAVA-DOC/JavaDoc/.vscode/settings.json
ORANGE-TECH-MODULO-01/02-APRENDENDO-SINTAXE-JAVA/08-TERMINAL-E-ARGUMENTOS/MinhaClasse/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-LOGICA-CONDICIONAL-CONTROLE-FLUXO/01-OPERADORES-RELACIONAIS/OperadoresRelacionais/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-LOGICA-CONDICIONAL-CONTROLE-FLUXO/02-OPERADORES-LOGICOS/OperadoresLogicos/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-LOGICA-CONDICIONAL-CONTROLE-FLUXO/03-CONTROLE-DE-FLUXO/ControleDeFluxo/.vscode/settings.json
ORANGE-TECH-MODULO-01/04-ESTRUTURAS-REPETICAO-E-ARRAYS-JAVA/01-ESTRUTURA-REPETICAO/EstruturasRepeticao/.vscode/settings.json
ORANGE-TECH-MODULO-01/04-ESTRUTURAS-REPETICAO-E-ARRAYS-JAVA/02-ARRAYS/Arrays/.vscode/settings.json
ORANGE-TECH-MODULO-01/05-ENTENDENDO-METODOS-JAVA/01-CRIACAO/ExerciciosCriacaoMetodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/05-ENTENDENDO-METODOS-JAVA/02-SOBRECARGA/ExercicioSobrecarga/.vscode/settings.json
ORANGE-TECH-MODULO-01/05-ENTENDENDO-METODOS-JAVA/03-RETORNOS/ExercicioRetornos/.vscode/settings.json
ORANGE-TECH-MODULO-02/DesafioDeCodigo01/.vscode/settings.json
ORANGE-TECH-MODULO-02/DesafioDeCodigo02/.vscode/settings.json
ORANGE-TECH-MODULO-02/DesafioDeCodigo03/.vscode/settings.json
ORANGE-TECH-MODULO-02/DesafioDeCodigo04/.vscode/settings.json
ORANGE-TECH-MODULO-02/DesafioDeCodigo05/.vscode/settings.json
.vscode/launch.json
ORANGE-TECH-MODULO-01/02-AMBIENTE-DESENVOLVIMENTO-JAVA/MeuPrimeiroProjeto/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse01/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse02/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/02-TIPOS-E-VARIAVEIS/TiposVariaveis/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/03-OPERADORES/Operadores/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/04-METODOS/Metodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/04-METODOS/Sistema-Smart-TV/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/07-JAVA-DOC/JavaDoc/.vscode/settings.json
ORANGE-TECH-MODULO-01/03-APRENDENDO-SINTAXE-JAVA/08-TERMINAL-E-ARGUMENTOS/MinhaClasse/.vscode/settings.json
.gitignore
ORANGE-TECH-MODULO-01/04-LOGICA-CONDICIONAL-CONTROLE-FLUXO/01-OPERADORES-RELACIONAIS/OperadoresRelacionais/.vscode/settings.json
ORANGE-TECH-MODULO-01/04-LOGICA-CONDICIONAL-CONTROLE-FLUXO/02-OPERADORES-LOGICOS/OperadoresLogicos/.vscode/settings.json
ORANGE-TECH-MODULO-01/04-LOGICA-CONDICIONAL-CONTROLE-FLUXO/03-CONTROLE-DE-FLUXO/ControleDeFluxo/.vscode/settings.json
ORANGE-TECH-MODULO-01/05-ESTRUTURAS-REPETICAO-E-ARRAYS-JAVA/01-ESTRUTURA-REPETICAO/EstruturasRepeticao/.vscode/settings.json
ORANGE-TECH-MODULO-01/05-ESTRUTURAS-REPETICAO-E-ARRAYS-JAVA/02-ARRAYS/Arrays/.vscode/settings.json
ORANGE-TECH-MODULO-01/06-ENTENDENDO-METODOS-JAVA/01-CRIACAO/ExerciciosCriacaoMetodos/.vscode/settings.json
ORANGE-TECH-MODULO-01/06-ENTENDENDO-METODOS-JAVA/02-SOBRECARGA/ExercicioSobrecarga/.vscode/settings.json
ORANGE-TECH-MODULO-01/06-ENTENDENDO-METODOS-JAVA/03-RETORNOS/ExercicioRetornos/.vscode/settings.json
.vscode/settings.json
ORANGE-TECH-MODULO-03/01-PROGRAMACAO-ORIENTADA-OBJETOS/03-ESTRUTURA-BASICA/01-CLASSE/ExercicioClasse/.vscode/settings.json
ORANGE-TECH-MODULO-03/01-PROGRAMACAO-ORIENTADA-OBJETOS/03-ESTRUTURA-BASICA/02-ATRIBUTO/ExercicioAtributos/.vscode/settings.json
ORANGE-TECH-MODULO-03/01-PROGRAMACAO-ORIENTADA-OBJETOS/03-ESTRUTURA-BASICA/03-METODO/ExercicioMetodos/.vscode/settings.json
ORANGE-TECH-MODULO-03/01-PROGRAMACAO-ORIENTADA-OBJETOS/03-ESTRUTURA-BASICA/04-OBJETO-E-MENSAGEM/ExercicioObjetos/.vscode/settings.json
ORANGE-TECH-MODULO-03/01-PROGRAMACAO-ORIENTADA-OBJETOS/04-RELACOES/01-HERANCA/ExercicioHeranca01/.vscode/settings.json
ORANGE-TECH-MODULO-03/01-PROGRAMACAO-ORIENTADA-OBJETOS/04-RELACOES/01-HERANCA/ExercicioHeranca02/.vscode/settings.json
ORANGE-TECH-MODULO-03/01-PROGRAMACAO-ORIENTADA-OBJETOS/04-RELACOES/01-HERANCA/ExercicioHeranca03/.vscode/settings.json
